@model RegistrationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegistration</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <div class="container">
        <h4 style="text-align:center;color:dodgerblue">User Registration Form</h4>
        <hr />
        <div class="row">

            <div class="col-md-4">
                <form asp-controller="User" asp-action="UserRegistration12" method="post">

                    <div class="form-group">
                        <label asp-for="UserName" class="Control-Label"></label>

                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="password" class="Control-Label"></label>

                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="Control-Label"></label>

                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="Control-Label"></label>

                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="LastName" class="Control-Label"></label>

                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="Control-Label"></label>

                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender" class="Control-Label"></label>

                        <input type="radio" asp-for="Gender" value="Female" id="rdfemale" />Female
                        <input type="radio" asp-for="Gender" value="male" id="rdmale" />Male
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="Control-Label"></label>

                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Age" class="Control-Label"></label>

                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="Control-Label"></label>

                        <input type="text" asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="datetime" class="Control-Label"></label>

                        <input asp-for="datetime" class="form-control" />
                        <span asp-validation-for="datetime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="Control-Label"></label>

                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>  <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                        <input type="Reset" value="Clear" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>

